@import url('https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic');
@import 'tailwindcss' source('../../');
@plugin "./../../frontile.js";
@source '../../node_modules/@frontile';

/* Variables */
$primary-color: #003a6b;

body {
  background: #edf1f7;
}

button {
  cursor: pointer;
}

/* Container */
.container {
  max-width: unset;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  width: 100vw;
  height: 100vh;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .main {
      flex: 1;
    }
  }
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 96px;
  background: #003a6b;
  transition: all 250ms;
  color: #fff;
  box-shadow: 5px 0 15px -5px rgba(0, 0, 0, 0.4);

  &.expanded {
    width: 250px;

    .menu-icon {
      justify-content: space-between;
      padding-right: 0;
    }

    .menu-items {
      li {
        a {
          flex-direction: row;
          gap: 1rem;

          .title {
            font-size: 18px;
          }
        }
      }
    }
  }

  .menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    padding: 1rem;

    button {
      background: none;
      border: none;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .menu-items {
    width: 100%;
    list-style: none;
    // color: #fff;

    li {
      a {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        transition: all 300ms;
        gap: 0.5rem;

        .title {
          font-size: 14px;
        }

        &:hover {
          color: $primary-color;
          background-color: #fff;
        }
      }
    }
  }
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  background: #fff;
  height: 72px;
  position: static;
}

/* Main Content Area */
main {
  overflow-x: hidden;
  overflow-y: scroll;

  .welcome-card {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    margin: 1rem;

    .card {
      gap: 1rem;
    }
  }

  /* Title Bar */
  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #d4dce4;
  }
}

/* Footer */
footer {
  padding: 0.5rem;
  background: #fff;
  display: flex;
  justify-content: center;
}

/* COMPONENTS */
/* Card */
.card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: #fff;
  max-width: 620px;
  border-radius: 20px;
  box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);

  &.user-card {
    border-radius: 8px;
    padding: 3rem 2rem 3rem 2rem;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    position: relative;
    width: 200px;

    &:hover {
      .actions {
        display: flex;
        // gap: 0.5rem;
      }
    }

    .actions {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      transition: all 300ms;

      button {
        padding: 0;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: rgba(0, 0, 0, 0.15);
          border-radius: 50%;
        }
      }
    }
  }
}

/* Drawer */
.drawer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: flex-end;

  .drawer-content {
    height: 100vh;
    min-width: 350px;
    max-width: 90vw;
    background: #fff;
    padding: 1rem;

    .drawer-header {
      display: flex;
      justify-content: flex-end;
    }

    .new-user {
      max-width: 400px;
    }
  }
}

.new-user .row {
  display: flex;
  gap: 1rem;
}

.new-user .row .col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.users {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.user-list {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop .modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
}

/* Common */
.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

//
@media screen and (max-width: 768px) {
  .sidebar {
    position: absolute;

    .menu-items {
      display: none;
    }

    &.expanded {
      height: 100vh;
      z-index: 1;

      .menu-items {
        display: block;
      }
    }
  }
}
